<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
  <h2>Create account</h2>
  <label for="fname">First name <span>*</span></label>
  <input type="text" name="fname" ngModel required />
  <label for="lname">Last name <span>*</span></label>
  <input type="text" name="lname" ngModel required />
  <label for="profile_url">Profile Image URL</label>
  <input type="text" name="profile_url" ngModel />
  <label for="email">Email <span>*</span></label>
  <input type="email" name="email" ngModel required />
  <label for="jobSeeker">Job seeker</label>
  <input
    type="radio"
    name="is_recruiter"
    ngModel
    [value]="false"
    class="radio"
  />
  <label for="employer">Employer</label>
  <input
    type="radio"
    name="is_recruiter"
    ngModel
    [value]="true"
    class="radio"
  />
  <label for="company_name">Company name</label>
  <input type="text" name="company_name" ngModel />
  <label for="password">Password <span>*</span></label>
  <input type="password" name="password" ngModel required />
  <label for="password_confirmation">Confirm password <span>*</span></label>
  <input type="password" name="password_confirmation" ngModel required />
  <div
    *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched)"
  >
    <p
      *ngIf="
        registerForm.controls['password'].invalid &&
        registerForm.controls['password'].touched
      "
    >
      Password is required
    </p>
    <p
      *ngIf="
        registerForm.controls['password_confirmation'].invalid &&
        registerForm.controls['password_confirmation'].touched
      "
    >
      Confirm password is required
    </p>
    <p
      *ngIf="
        registerForm.value.password_confirmation !== registerForm.value.password
      "
    >
      Passwords do not match
    </p>
  </div>
  <button
    type="submit"
    class="btn mt-3"
    [disabled]="
      !registerForm.valid ||
      registerForm.value.password_confirmation !== registerForm.value.password
    "
  >
    Create account
  </button>
</form>
