<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
  <h2>Create account</h2>
  <label for="fname">First name</label>
  <input type="text" name="fname" ngModel required />
  <label for="lname">Last name</label>
  <input type="text" name="lname" ngModel required />
  <label for="email">Email</label>
  <input type="email" name="email" ngModel required />
  <label for="jobSeeker">Job seeker</label>
  <input
    type="radio"
    name="userType"
    ngModel
    [value]="true"
    [checked]="jobSeeker"
    class="radio"
  />
  <label for="employer">Employer</label>
  <input
    type="radio"
    name="userType"
    ngModel
    [value]="false"
    [checked]="!jobSeeker"
    class="radio"
  />
  <label for="password">Password</label>
  <input type="password" name="password" ngModel required />
  <label for="confirmPassword">Confirm password</label>
  <input type="password" name="confirmPassword" ngModel required />
  <div
    *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched)"
  >
    <p
      *ngIf="
        registerForm.controls['password'].invalid &&
        registerForm.controls['password'].touched
      "
    >
      Password is required
    </p>
    <p
      *ngIf="
        registerForm.controls['confirmPassword'].invalid &&
        registerForm.controls['confirmPassword'].touched
      "
    >
      Confirm password is required
    </p>
    <p
      *ngIf="registerForm.value.password !== registerForm.value.confirmPassword"
    >
      Passwords do not match
    </p>
  </div>
  <button
    type="submit"
    class="btn mt-3"
    [disabled]="
      !registerForm.valid ||
      registerForm.value.password !== registerForm.value.confirmPassword
    "
  >
    Create account
  </button>
</form>
