<div
  class="flex flex-col justify-center items-center text-center mx-auto min-h-[70vh]"
>
  <h1 class="font-bold text-pri text-5xl phone:text-7xl">No BS Jobs</h1>
  <div
    class="border-2 border-gray-400 text-gray-400 rounded-full px-3 py-1 my-3"
  >
    BETA
  </div>
  <h2 class="my-3">Get hired without the BS</h2>
  <div class="flex phone:flex-row flex-col justify-between phone:w-3/5 mx-auto">
    <button routerLink="/about" class="btn-sec my-1 phone:my-0">Learn more</button>
    <button routerLink="/register" class="btn my-1 phone:my-0">Get started</button>
  </div>
</div>
